@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@theme {
  /* Primitive Colors */
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --snow: oklch(98.7% 0.002 197.1);
  --eclipse: oklch(14.8% 0.004 228.8);

  /* Border */
  --border-width: 1px;
  --field-border-width: 0px;

  /* Base radius */
  --radius: 0.25rem;
  --field-radius: 0.75rem;

  /* Opacity */
  --opacity-disabled: 0.5;

  /* Fonts */
  --font-thin: geist-thin;
  --font-extralight: geist-extralight;
  --font-light: geist-light;
  --font-regular: geist-regular;
  --font-medium: geist-medium;
  --font-semibold: geist-semibold;
  --font-bold: geist-bold;
  --font-extrabold: geist-extrabold;
  --font-black: geist-black;
  --font-sans: geist-extralight;
}

@layer theme {
  :root {
    @variant light {
      /* Base Colors */
      --background: oklch(0.97 0.003 152.56);
      --foreground: oklch(0.21 0.006 152.56);

      /* Surface */
      --surface: oklch(1 0.003 152.56);
      --surface-foreground: oklch(0.21 0.006 152.56);

      --surface-secondary: oklch(0.95 0.005 152.56);
      --surface-secondary-foreground: oklch(0.21 0.006 152.56);

      --surface-tertiary: oklch(0.937 0.005 152.56);
      --surface-tertiary-foreground: oklch(0.21 0.006 152.56);

      /* Overlay */
      --overlay: oklch(1 0.002 152.56);
      --overlay-foreground: oklch(0.21 0.006 152.56);
      --backdrop: oklch(0% 0 0 / 20%);

      --muted: oklch(0.55 0.012 152.56);

      --default: oklch(0.94 0.006 152.56);
      --default-foreground: oklch(0.21 0.006 152.56);

      --accent: oklch(0.448 0.119 151.328);
      --accent-foreground: oklch(0.982 0.018 155.826);

      /* Form Fields */
      --field-background: oklch(1 0.003 152.56);
      --field-foreground: oklch(0.21 0.006 152.56);
      --field-placeholder: oklch(0.55 0.012 152.56);
      --field-border: transparent;

      /* Status Colors */
      --success: oklch(0.7329 0.1957 138.66);
      --success-foreground: oklch(0.21 0.006 138.66);

      --warning: oklch(0.7819 0.1603 60.18);
      --warning-foreground: oklch(0.21 0.006 60.18);

      --danger: oklch(0.704 0.191 22.216);
      --danger-foreground: var(--snow);

      /* Component Colors */
      --segment: oklch(1 0.006 152.56);
      --segment-foreground: oklch(0.21 0.006 152.56);

      /* Misc */
      --border: oklch(0.9 0.006 152.56);
      --separator: oklch(0.92 0.006 152.56);
      --focus: oklch(0.448 0.119 151.328);
      --link: oklch(0.21 0.006 152.56);

      /* Shadows */
      --surface-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
      --overlay-shadow:
        0 2px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 12px 0 rgba(0, 0, 0, 0.01),
        0 14px 28px 0 rgba(0, 0, 0, 0.03);
      --field-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
    }

    @variant dark {
      /* Base Colors */
      --background: oklch(0.148 0.004 228.8);
      --foreground: oklch(0.987 0.002 197.1);

      /* Surface */
      --surface: oklch(0.218 0.008 223.9);
      --surface-foreground: var(--foreground);

      --surface-secondary: oklch(0.275 0.011 216.9);
      --surface-secondary-foreground: var(--foreground);

      --surface-tertiary: oklch(0.323 0.006 152.56);
      --surface-tertiary-foreground: var(--foreground);

      /* Overlay */
      --overlay: oklch(0.218 0.008 223.9);
      --overlay-foreground: var(--foreground);
      --backdrop: oklch(0% 0 0 / 40%);

      --muted: oklch(0.723 0.014 214.4);

      --default: oklch(0.275 0.011 216.9);
      --default-foreground: var(--foreground);

      --accent: oklch(0.6 0.119 151.328);
      --accent-foreground: oklch(0.982 0.018 155.826);

      /* Form Fields */
      --field-background: oklch(0.218 0.008 223.9);
      --field-foreground: var(--foreground);
      --field-placeholder: oklch(0.723 0.014 214.4);
      --field-border: transparent;

      /* Status Colors */
      --success: oklch(0.7329 0.1957 138.66);
      --success-foreground: oklch(0.21 0.006 138.66);

      --warning: oklch(0.8203 0.1404 64.19);
      --warning-foreground: oklch(0.21 0.006 64.19);

      --danger: oklch(0.704 0.191 22.216);
      --danger-foreground: var(--snow);

      /* Component Colors */
      --segment: oklch(0.396 0.006 152.56);
      --segment-foreground: var(--foreground);

      /* Misc */
      --border: oklch(1 0 0 / 10%);
      --separator: oklch(1 0 0 / 8%);
      --focus: oklch(0.56 0.021 213.5);
      --link: var(--foreground);

      /* Shadows */
      --surface-shadow: 0 0 0 0 transparent;
      --overlay-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.12) inset;
      --field-shadow: 0 0 0 0 transparent;
    }
  }
}

@source '../node_modules/heroui-native/lib';
